---
layout: workshop
root: .
venue: University College London      # brief name of host site without address (e.g., "Euphoric State University")
address: Room G11, 26 Bedford Way, London, WC1H 0DS    # street address of workshop (e.g., "123 Forth Street, Blimingen, Euphoria")
country: GB    # country (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_3166-1)
language: EN   # language (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: 51.5242033,-0.1288659     # fractional latitude and longitude (e.g., "41.7901128,-87.6007318"; you can use http://www.latlong.net/)
humandate: Nov 12-13, 2015  # human-readable date (e.g., "Feb 17-18, 2020")
humantime: 10:00 to 16:00  # 10:00 to 16:00 (e.g., "9:00 am - 4:30 pm")
startdate: 2015-11-12  # use YYYY-MM-DD format like "2015-01-01"
enddate: 2015-11-13    # use YYYY-MM-DD format like" 2015-01-02"
instructor: ["Ben Waugh"] # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["Simon Jolly","Ben Strutt"]     # list of names like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"]
contact: b.waugh@ucl.ac.uk    # contact email address for workshop organizer, such as "grace@hopper.org"
etherpad: http://pad.software-carpentry.org/2015-11-12-uclhep   # optional (insert the URL for your Etherpad if you're using one)
eventbrite:       # optional (insert the alphanumeric key for Eventbrite registration, e.g., "1234567890AB")
---
<!--
  HEADER

  Edit the values in the block above to be appropriate for your workshop.
  If the value is not 'true', 'false', 'null', or a number, please use
  double quotation marks around the value, unless specified otherwise.
  And run 'tools/check' *before* committing to make sure that changes are good.
-->

<!--
  EVENTBRITE

  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}

<h2>General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>'s mission
  is to help scientists and engineers get more research done in less
  time and with less pain by teaching them basic lab skills for
  scientific computing.  This hands-on workshop will cover basic
  concepts and tools, including program design, version control, data
  management, and task automation.  Participants will be encouraged to
  help one another and to apply what they have learned to their own
  research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>Who:</strong>
   The course is for students taking the London Intercollegiate Postgraduate Course in Elementary Particle Physics.
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong> Participants should bring a laptop with
  a few specific software packages installed (listed
  <a href="#setup">below</a>).
  Alternatively they should ensure they can log in via SSH to a Linux system with those packages installed.
  They are also required to abide by Software Carpentry's
  <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2>Provisional schedule</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td> <td>Arrival and set-up</td> </tr>
      <tr> <td>10:00</td> <td>Version control with Git</td> </tr>
      <tr> <td><em>11:15</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>11:30</td> <td>More version control with Git</td> </tr>
      <tr> <td>12:45</td> <td>Lunch break</td> </tr>
      <tr> <td>13:30</td> <td>Collaboration with GitHub</td> </tr>
      <tr> <td><em>15:00</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>15:20</td> <td>More collaboration with GitHub</td> </tr>
      <tr> <td>16:45</td> <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="span6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td> <td><a href="extras/hep/">Building programs with Python and PyROOT</a></td> </tr>
      <tr> <td><em>11:15</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>11:30</td> <td>Unit testing</td> </tr>
      <tr> <td>12:45</td> <td>Lunch break</td> </tr>
      <tr> <td>13:30</td> <td>Collaborative development</td> </tr>
      <tr> <td><em>15:00</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>15:20</td> <td>Collaborative development</td> </tr>
      <tr> <td>16:30</td> <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>

<!--
  ETHERPAD

  At `_misc/etherpad.txt` you will find a template for the etherpad.

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://pad.software-carpentry.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop,
  e.g., '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<h2>Syllabus</h2>

<h2>Syllabus</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring files</li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving conflicts</li>
      <li>Open licenses</li>
      <li>Where to host work, and why</li>
      <li><a href="{{site.swc_githubio}}/git-novice/reference.html">Git reference</a></li>
    </ul>
  </div>
  <div class="span6">
    <h3>Collaboration with Git and GitHub</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Forking and cloning repositories</li>
      <li>Pull requests</li>
    </ul>
  </div>
  <div class="span6">
    <h3>Python and PyROOT</h3>
    <ul>
      <li><a href="novice/ref/03-python.html">Python reference</a></li>
    </ul>
  </div>
</div>

<hr/>

<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Setup</h2>

<p>
  To participate in a Software Carpentry workshop, you will need
  access to the software described below. In addition, you will
  need an up-to-date web browser.
</p>
<p>
  We maintain a list of common issues that occur during installation as a reference for instructors
  that may be useful on the
  <a href = "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
</p>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor</h4>
    <p>
      When you're writing code, it's nice to have a text
      editor that is optimized for writing code, with features
      like automatic color-coding of key words.
      The default text editor on Mac OS X and Linux is usually set to Vim,
      which is not famous for being intuitive.
      if you accidentally find yourself stuck in it,
      try typing the escape key,
      followed by ':q!' (colon, lower-case 'q', exclamation mark),
      then hitting Return
      to return to the shell.
    </p>

    <h4>Git</h4>
    <p>
      Git is a state-of-the-art version control system. It
      lets you track who made changes to what when and has
      options for easily updating a shared or public version of
      your code on <a href="https://github.com/">github.com</a>.
    </p>

    <h4>ROOT</h4>
    <p>
      <a href="http://root.cern.ch">ROOT</a> is ubiquitous in HEP for data analysis and presentation.
      It is available for a variety of operating systems, and is included in the standard repositories
      for many Linux distributions. We will use version 5.34, but newer versions should also be OK.
    </p>
  </div>
  <div class="span6">
    <h4>Python</h4>
    <p>
      Python is becoming very popular in scientific computing,
      and it's a great language for teaching general programming concepts due to its easy-to-read syntax.
      We teach with Python 2 (version 2.6 or 2.7) since it is still more widely used than Python 3.
      Installing all the scientific packages for Python individually can be a bit difficult,
      depending on your Linux distribution, but all-in-one installers are available.
    </p>
    <p>
      For this workshop you will need two specialised Python packages:
      <a href="http://root.cern.ch/drupal/content/pyroot">PyROOT</a> for access to ROOT and 
      <a href="https://nose.readthedocs.org/en/latest/">Nose</a> for unit testing.
      Once you have installed Python and ROOT, check that you have these packages installed by
      trying to import them: type the following at the Python prompt
      <pre>
>>> import ROOT
>>> import nose
      </pre>
      If you see no errors then the packages are installed. If you do see errors, and are
      unable to install these packages, let us know as soon as possible so we can help you
      get set up before the workshop. The installation instructions below are not comprehensive!
    </p>
  </div>
</div>

